.tab-component {
  width: 100%;
}

.toggle-bar {
  background-color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  z-index: 1;
}

.toggle-bar span {
  font-size: 30px;
}

.tabs-container {
  background-color: grey;
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  font-size: 20px;
  color: #f0f0f0;
  background-color: #555454;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.selected {
  border-bottom: 2px solid white;
}

.tab-content {
  background-color: #555454;
  color: #f0f0f0;
  padding: 20px;
}

.subheading-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #555454;
  margin-top: 40px;
}

.subheading-section {
  margin-right: 40px;
  margin-left: 40px;
  color: #f0f0f0;
  margin-bottom: 40px;
}

.subheading-section h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: normal;
  opacity: 5;
}

.subheading-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subheading-section ul li {
  margin: 5px 0;
  display: flex;
  margin-left: -8px;
}

.subheading-section ul li a {
  text-decoration: none;
  color: #cfcccc;
  font-size: 15px;
}

.subheading-section ul li a:hover {
  text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .tabs {
    display: none;
  }

  .accordion-tab {
    background-color: #555454;
    color: #f0f0f0;
    padding: 10px;
    border-top: 1px solid #999;
  }

  .accordion-tab .tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .accordion-toggle-icon {
    font-size: 24px;
  }

  .accordion-content {
    padding: 10px;
    background-color: #666;
  }

  .subheading-container {
    flex-direction: column;
    background-color: #666;
  }

  .subheading-section {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
}
